id_rsa_gcloud*
id_rsa_example
id_rsa_example.pub
ejemplo_clase/
**/*.ssh*
**/credentials.json**
TP4/H1/entorno_virtual
**/terraform.tfstate**
**/terraform.tfstate.backup**
*.jpg
.history/
*.jpeg
*redis.env